<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Question</title>
    <link rel="icon" type="image/png" sizes="16x16" href="https://openfxt.vercel.app/images/favicon.png">
    <link rel="stylesheet" href="/css/joinQuestionPage.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div class="header">
        <div id="hi_user" class="hd_left">Hi, user</div>
        <div class="hd_center">ANSWER QUESTION ONLINE</div>
        <div class="hd_right"><a href="#" id="logout" style="color: white; text-decoration: none;">Logout</a></div>
    </div>
    <div class="container">
        <form class="container">
            <label for="">JOIN QUESTION</label>
            <input id="idQuestion" style="padding: 6px;" class="child" type="text" placeholder="Input id question...">
            <button style="min-width: 30vw;" class="child" type="button" onclick="get()">Join</button>
        </form>
    </div>
    <script>
        function get() {
            var element = document.getElementById("idQuestion");
            var value = element.value;
            window.location.href = "/view-question/" + encodeURIComponent(value);
        }
    </script>
    <script src="login_check.js">
    </script>
    <script src="/main.js"></script>
</body>

</html>