<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login And Register</title>
    <link rel="icon" type="image/png" sizes="16x16" href="https://openfxt.vercel.app/images/favicon.png">
    <link rel="stylesheet" href="/css/loginPage.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div class="header">
        <div id="hi_user" class="hd_left"></div>
        <div class="hd_center">ANSWER QUESTION ONLINE</div>
        <div class="hd_right"><a href="#" id="logout" style="color: white; text-decoration: none;"></a></div>
    </div>
    <div class="container" id="panel_1">
        <button id="login_1" class="child">Login</button>
        <button id="register_1" class="child">Register</button>
    </div>
    <div class="container" id="panel_2" style="display: none;">
        <form class="container">
            <label for="">REGISTER USER</label>
            <input id="loginCode" style="padding: 6px;" class="child" type="text" placeholder="Input login code...">
            <input id="fullName" style="padding: 6px;" class="child" type="text" placeholder="Input full name...">
            <button id="register_2" style="min-width: 31vw;" class="child" type="button"
                onclick="register()">Register</button>
        </form>
    </div>
    <div class="container" id="panel_3" style="display: none;">
        <form class="container">
            <label for="">LOGIN USER</label>
            <input id="loginCode_1" style="padding: 6px;" class="child" type="text" placeholder="Input login code...">
            <button id="login_2" style="min-width: 31vw;" class="child" type="button" onclick="login()">Login with
                code</button>
        </form>
    </div>
    <script>
        function login() {
            let loginCode = document.getElementById('loginCode_1').value;
            if (!loginCode) {
                alert("Please fill in all fields.");
            } else {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/login", true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        if (response.success === false) {
                            alert(response.error);
                        } else if (response.success === true) {
                            localStorage.setItem('login_code', response.loginCode);
                            setTimeout(function () {
                                window.location.href = "/";
                            }, 1000);
                        }
                    }
                };
                var data = JSON.stringify({
                    login_code: loginCode
                });
                xhr.send(data);
            }
        }
    </script>
    <script>
        const loginCode = localStorage.getItem("login_code");
        var socket = io();
        if (loginCode) {
            socket.on('connect', () => {
                socket.emit('send_login_code', loginCode);
                socket.on('result_check_login', (data) => {
                    if (data.success === true) {
                        window.location.href = "/";
                    }
                });
            });
        }
    </script>
    <script>
        function register() {
            let loginCode = document.getElementById('loginCode').value;
            var fullName = document.getElementById('fullName').value;

            if (!loginCode || !fullName) {
                alert("Please fill in all fields.");
            } else {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/register", true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        if (response.success === false) {
                            alert(response.error);
                        } else if (response.success === true) {
                            localStorage.setItem('login_code', response.loginCode);
                            setTimeout(function () {
                                window.location.href = "/";
                            }, 1000);
                        }
                    }
                };
                var data = JSON.stringify({
                    login_code: loginCode,
                    full_name: fullName
                });
                xhr.send(data);
            }
        }
    </script>
    <script src="/main.js"></script>
</body>

</html>